.messageInputContainer {
  border-radius: 4rem;
  padding: 0.5rem 2rem;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 16px;
  background: white;
  box-shadow: 0 4px 60px 0 #2D1B4729;
}

.messageInputContainer input {
  padding-left: 4px;
}