.fornaxLogoContainer {
  width: 52px;
  height: 52px;
}

.messageContainer {
  overflow-y: auto;
  scrollbar-width: thin;
}

.messageContainer>* {
  margin-bottom: 1rem;
}

.promptContainer {
  flex-direction: column;
  max-height: calc(100vh - 66px);
}