.pitchContainer {
  position: relative;
  max-height: 100dvh;
}

@media (min-width: 768px) {
  .pitchContainer {
    max-height: calc(100vh - 66px);
  }
}

.innerContainer {
  scrollbar-width: thin;
  overflow-y: auto;
  max-height: 100%;
}